<div class="mt-4">
    <h3>Create user</h3>
    <form method="POST" action="/users/store">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" value="shinha">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="text" class="form-control" id="password" name="password" value="metaway2023">
        </div>
        <button type="submit" class="btn btn-primary px-4">Create</button>
    </form>
</div>