<form method="POST" action="">
  
  <div class="mb-3">
    <h1>Login</h1>
  </div>
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input name="username" type="text" class="form-control" value="hoangnhat" id="username" placeholder="username...">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input name="password" type="text" class="form-control" value="metaway2023"  id="password" placeholder="password...">
  </div>

  <button type="submit" class="btn btn-primary">Login</button>
</form>